.sfondo-azzurro {
  background-color: #6bc9d1;
  padding: 30px;
  width: 400px;
  min-height: 450px;
  display: flex; 
  flex-direction: column;
  gap: 15px;
}

.testo-rosso {
  color: red;
  font-weight: bold;
}